.card {
  padding: 25px;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 40px;
  align-items: center;
  &:hover {
    border: 1px solid #f8f8f8;
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transition: 0.2s;
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }
}

.card_Bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .plus {
    cursor: pointer;
  }
}

.card_Bottom_price {
  margin: 0;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #bdbdbd;
}

@media screen and (max-width: 600px) {
  .card {
    padding: 15px;
    border-radius: 20px;
  }

  .card_Bottom {
    b {
      font-size: 13px;
    }
  }

  .card_Bottom_price {
    font-size: 10px;
    line-height: 12px;
  }

  p {
    font-size: 13px;
  }
  .sneakersImg {
    width: calc(100%);
    height: auto;
  }
}
