@mixin green_button($size, $translateX){
    width: $size;
    position: relative;
    background: #9DD558;
    border: 0;
    border-radius: 18px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    font-weight: 600;
    padding: 18px 0;
    cursor: pointer;
    transition: 0.2s;
    &:hover{
      background-color: lighten(#9DD558, 5%);
      img{
        transform: translateX($translateX);
        transition: 0.3s;
      }
    }
    &:active{
      background-color: darken(#9DD558, 5%);
    }
}


.overlay{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
  





.drawer {
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 30px; 
    width: 385px;
    height: 100% ;
    right: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

    h2{
        margin: 0 0 30px 0;
    }
}

.cartItem{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 20px;

    .cartImage{
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }
  
    .btn_remove{
      cursor: pointer;
      width: 32px;
      height: 32px;
      margin: auto;
      opacity: 0.5;
      transition: 0.15s;
      &:hover{
        opacity: 1;
      }
    }
}
  
.cartTotalBlock{
    padding: 0px;

    li{
      display: flex;
      align-items: flex-end;
      margin-bottom: 20px;
    }

    div{
      flex: 1;
      border-bottom: 1px dashed #DFDFDF;
      position: relative;
      top: -3px;
      margin: 0 7px;
    }
}
  
  
.items {
    flex: 1;
    overflow: auto;
}





  
.btn_order{
    @include green_button(100%, 10px);

    img{
      position: absolute;
      right: 45px;
      top: 20px;
    }
}
  
.cart{
    display: flex;
    justify-content: space-between;

    img{
      opacity: 0.5;
    }

    img:hover{
      cursor: pointer;
      opacity: 1;
    }
}


.main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}






.infoWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}




.infoBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    img{
        margin-bottom: 20px;
    }
    h2{
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        margin: 0 0 10px 0;
    }
    p{
        margin: 0 0 40px 0;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        opacity: 0.4;
    }
    button{
        @include green_button(245px, -10px);

    }
    .arrow{
        position: absolute;
        left: 30px;
        top: 20px;
    }
}