body {
  font-size: 14px;
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
}
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  background-color: #ffffff;
  max-width: 1080px;
  min-height: 100vh;
  margin: 50px auto 0px auto;
  border-radius: 20px;
}

.content {
  padding: 45px 60px 60px 60px;
  h1 {
    margin: 0;
  }
  .page_title {
    margin-bottom: 40px;
    padding-left: 20px;
  }
  .title_img {
    position: relative;
    top: 7px;
    left: -20px;
    cursor: pointer;
  }
}

.sneakers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.search-wrapper {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.search-block {
  position: relative;
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 0 0 15px;

  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    line-height: 17px;
    width: 200px;
    &:focus {
      outline: 0;
    }
  }

  .clearSearch {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 13px;
    right: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    margin: 0px;
    border-radius: 0px;
  }
  .content {
    padding: 15px;
    justify-items: center;
    h1 {
      margin: 0;
      font-size: 16px;
      margin: 15px;
      overflow: auto;
    }
    .page_title {
      margin-bottom: 40px;
      padding-left: 20px;
    }
    .title_img {
      position: relative;
      top: 7px;
      left: -20px;
      cursor: pointer;
    }
  }
  // дошел до сюда

  .sneakers {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .search-wrapper {
    margin-bottom: 5px;
    flex-direction: column-reverse;
  }
  .search-block {
    height: 30px;
    max-width: 230px;

    input {
      border: 0;
      padding: 5px;
      font-size: 10px;
      line-height: 12px;
    }

    .search {
      width: 13px;
      height: 13px;
      align-self: center;
    }

    .clearSearch {
      width: 14px;
      height: 14px;
      top: 8px;
    }
  }
}
