body {
  font-size: 14px;
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e7f6ff;
}
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}




.wrapper{
  background-color:#FFFFFF;
  max-width: 1080px;
  min-height: 100%;
  margin: 50px auto 0px auto;
  border-radius: 20px;
}



.content {
  padding: 45px 60px 60px 60px;
  h1{
    margin: 0;
  }
}

.sneakers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}


.search-wrapper{
  display: flex;
  justify-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}




.search-block {
  position: relative;
  display: flex;
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  padding: 0 0 0 15px;
  input {
    border: 0;
    padding: 13px;
    font-size: 16px;
    line-height: 17px;
    width: 200px;
  }
  input:focus{
    outline: 0;
  }

  .clearSearch{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 13px;
    right: 5px;
    cursor: pointer;
  }
}